# User-specific configuration
config.yaml
.env

# Client Development Artifacts
*/*_modules/
client/public

# Server Development Artifacts
.coverage
.cache
server/**/lib/
server/**/bin/
server/**/pyvenv.cfg
__pycache__/

# Runtime / logs
nginx_access.log
nginx_error.log
nginx.pid

# Local data directories
data/
pgdata/
